body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra toda la pantalla */
    z-index: -1; /* Envía la imagen al fondo */
    filter: blur(5px) brightness(80%); /* Aplica difuminado y oscurece */
}

.login-container {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.85); /* Fondo blanco semitransparente */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.686);
    width: 300px;
    text-align: center;
}

.login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input {
    width: 94%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: rgb(220, 0, 15);
    color: #ffffff;
    border: rgb(252, 249, 198);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.form-group button:hover {
    background-color: rgb(130, 0, 14);;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
}
